.main-layout {    
    background: no-repeat left bottom url("~/static/background.jpg");
    background-color: #000000;
    background-size: 80vh;
    color: #e0e0e0;
    font-family: "baskerville-urw",serif;
    font-size: 1.1rem;
    bottom: 0 !important;
}

.navbar-wrapper {
    font-size: 1.15rem;
    z-index: 99;
    flex-wrap: wrap;
}

.navbar-backing {
    color: #e0e0e0;
}

.match-header {
    margin-top: 1% !important;
    margin-bottom: 0.5% !important;
}

.content-body {
    background-color: rgba(18, 32, 59, 0.8);
    border: 1px solid #0c2547;
    min-height: 50% !important;
    max-width: 80% !important;
    margin-top: 10vh !important;
    margin-bottom: 10vh !important;
    padding-left: 4% !important;
    padding-right: 4% !important;
    padding-top: 2.5% !important;
    padding-bottom: 2.5% !important;
}

.matchComponents-wrapper {
    padding-left: 0 !important;
    margin-left: 0 !important;
    padding-right: 0 !important;
    margin-right: 0 !important;
}

.gamePanel-wrapper {
    background-color: rgba(18, 32, 59, 0.8);
    border: 1px solid #0c2547;
    min-height: 70vh !important;
    padding-left: 4% !important;
    padding-right: 4% !important;
    padding-top: 2.5% !important;
    padding-bottom: 2.5% !important;
}

.chatPanel-wrapper {
    background-color: rgba(18, 32, 59, 0.8);
    border: 1px solid #0c2547;
    height: 70vh !important;
    padding-left: 4% !important;
    padding-right: 4% !important;
    padding-top: 2.5% !important;
    padding-bottom: 2.5% !important;
    margin-bottom: 3% !important;
}

.chatPanel-window {
    height: 48vh !important;
    overflow: auto !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.chatPanel-box {
    height: 5vh !important;
    padding-top: 0 !important;
    margin-top: 0 !important;
}

.content-spaced-small {
    padding-top: 4% !important;
}

.content-spaced-mid {
    padding-top: 10vh !important;
}

.tileImage {
    height: 40px;
    width: 40px;
}
