.main-layout {    
    background: no-repeat left bottom url("~/static/background.jpg");
    background-color: #000000;
    background-size: 45%;
    color: #e0e0e0;
    font-family: "baskerville-urw",serif;
    font-size: 1.1rem;
    bottom: 0;
    min-height: 100vh;
}

.main-layout.mobile {
    background-size: 110% !important;
}

.navbar-wrapper {
    font-size: 1.15rem;
}

.navbar-backing {
    color: #e0e0e0;
}

.content-body {
    background-color: rgba(18, 32, 59, 0.8);
    border: 1px solid #0c2547;
    max-width: 85vw;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
}

.spaced-small {
    padding-top: 8vh;
}

.spaced-mid {
    padding-top: 25vh;
}

.match-header {
    margin-top: 1vh;
}

.matchComponents-wrapper {
    padding-left: 0 !important;
    margin-left: 0 !important;
    padding-right: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 2.5vh !important;
    padding-top: 0 !important;
}

.content-body.game-panel {
    min-height: 100vh;
}

.content-body.chat-panel {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    padding: 2vh 1vw 0 !important;
}

.chatPanel-window {
    overflow: auto;
    flex-grow: 1;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    width: 100%;
}

.chatPanel-box {
    padding-top: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    width: 100%;
}
